Repository oliverschwendener/ueli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oliverschwendener, @ke1v, @scomans, @ChristopherSteiner, @NiewView, @IrishBruse, @tkohlmeier

.github/CODEOWNERS:

# General stuff
.eslintignore @oliverschwendener
.eslintrc.json @oliverschwendener
.gitattributes @oliverschwendener
.github @oliverschwendener
.gitignore @oliverschwendener
.npmrc @oliverschwendener
.prettierrc @oliverschwendener
.vscode @oliverschwendener
assets @oliverschwendener
docs @oliverschwendener
electron-builder.config.js @oliverschwendener
LICENSE @oliverschwendener
package-lock.json @oliverschwendener
package.json @oliverschwendener
README.md @oliverschwendener
src @oliverschwendener
tsconfig.node.json @oliverschwendener
tsconfig.renderer.json @oliverschwendener
vite.config.mts @oliverschwendener

# Core Modules

src/main/Core/IniFileParser @ke1v
src/main/Core/LinuxDesktopEnvironment @ke1v
src/main/Core/XmlParser @scomans

# Extensions

# ApplicationSearch
src/main/Extensions/ApplicationSearch/Linux @ke1v
src/renderer/Extensions/ApplicationSearch/Linux @ke1v

# Base64Conversion
assets/Extensions/Base64Conversion @ChristopherSteiner
docs/Extensions/Base64Conversion @ChristopherSteiner
src/common/Extensions/Base64Conversion @ChristopherSteiner
src/main/Extensions/Base64Conversion @ChristopherSteiner
src/renderer/Extensions/Base64Conversion @ChristopherSteiner

# CustomWebSearch
assets/Extensions/CustomWebSearch @NiewView
docs/Extensions/CustomWebSearch @NiewView
src/common/Extensions/CustomWebSearch @NiewView
src/main/Extensions/CustomWebSearch @NiewView
src/renderer/Extensions/CustomWebSearch @NiewView

# JetBrainsToolbox
assets/Extensions/JetBrainsToolbox @scomans
docs/Extensions/JetBrainsToolbox @scomans
src/common/Extensions/JetBrainsToolbox @scomans
src/main/Extensions/JetBrainsToolbox @scomans
src/renderer/Extensions/JetBrainsToolbox @scomans

# VSCode
assets/Extensions/VSCode @IrishBruse
docs/Extensions/VSCode @IrishBruse
src/common/Extensions/VSCode @IrishBruse
src/main/Extensions/VSCode @IrishBruse
src/renderer/Extensions/VSCode @IrishBruse

# WindowsControlPanel
assets/Extensions/WindowsControlPanel @tkohlmeier
docs/Extensions/WindowsControlPanel @tkohlmeier
src/common/Extensions/WindowsControlPanel @tkohlmeier
src/main/Extensions/WindowsControlPanel @tkohlmeier
src/renderer/Extensions/WindowsControlPanel @tkohlmeier

allow different results from multiple search engines
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.test.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

remove console.log
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

allow different results from multiple search engines (#1256)
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.test.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

9.10.1
  package-lock.json
  package.json
Owners: @oliverschwendener

eslint: enforce class member accessibility
  eslint.config.mjs
  src/main/Core/BrowserWindow/BrowserWindowCreator/BrowserWindowCreator.test.ts
  src/main/Core/PowershellUtility/PowershellUtility.ts
  src/main/Core/TrayIcon/TrayCreator.test.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxExtension.ts
  src/main/Extensions/TerminalLauncher/TerminalLauncherExtension.ts
  src/main/Extensions/VSCode/VSCodeExtension.ts
Owners: @oliverschwendener, @NiewView, @scomans, @IrishBruse

eslint: enforce class member accessibility (#1258)
  eslint.config.mjs
  src/main/Core/BrowserWindow/BrowserWindowCreator/BrowserWindowCreator.test.ts
  src/main/Core/PowershellUtility/PowershellUtility.ts
  src/main/Core/TrayIcon/TrayCreator.test.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxExtension.ts
  src/main/Extensions/TerminalLauncher/TerminalLauncherExtension.ts
  src/main/Extensions/VSCode/VSCodeExtension.ts
Owners: @oliverschwendener, @NiewView, @scomans, @IrishBruse

feat: add confirmation dialog before deleting a workflow
  src/main/Extensions/Workflow/WorkflowExtension.ts
  src/renderer/Extensions/Workflow/DeleteWorkflowButton.tsx
  src/renderer/Extensions/Workflow/WorkflowSettings.tsx
Owners: @oliverschwendener

feat: add confirmation dialog before deleting a workflow (#1259)
  src/main/Extensions/Workflow/WorkflowExtension.ts
  src/renderer/Extensions/Workflow/DeleteWorkflowButton.tsx
  src/renderer/Extensions/Workflow/WorkflowSettings.tsx
Owners: @oliverschwendener

Removed alwaysCenter option
  src/main/Core/BrowserWindow/BrowserWindowToggler.test.ts
  src/renderer/Core/I18n/getCoreResources.ts
  src/renderer/Core/Settings/Pages/Window/AlwaysCenter.tsx
  src/renderer/Core/Settings/Pages/Window/Window.tsx
Owners: @oliverschwendener

chore: update to vite 6
  package-lock.json
  package.json
  src/main/Core/CommandlineUtility/NodeJsCommandlineUtility.test.ts
  vite.config.mts
Owners: @oliverschwendener

chore: update to vite 6 (#1260)
  package-lock.json
  package.json
  src/main/Core/CommandlineUtility/NodeJsCommandlineUtility.test.ts
  vite.config.mts
Owners: @oliverschwendener

chore: replace `nativeTheme.addListener` with `nativeTheme.on`
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
  src/main/Core/NativeTheme/NativeThemeModule.ts
Owners: @oliverschwendener

refactor: simplified imports
  src/common/Core/SearchResultItemActionUtility/createAddToFavoritesAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createAddToFavoritesAction.ts
  src/common/Core/SearchResultItemActionUtility/createCopyToClipboardAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createCopyToClipboardAction.ts
  src/common/Core/SearchResultItemActionUtility/createExcludeFromSearchResultsAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createExcludeFromSearchResultsAction.ts
  src/common/Core/SearchResultItemActionUtility/createInvokeExtensionAction.ts
  src/common/Core/SearchResultItemActionUtility/createOpenFileAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createOpenFileAction.ts
  src/common/Core/SearchResultItemActionUtility/createOpenUrlSearchResultAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createOpenUrlSearchResultAction.ts
  src/common/Core/SearchResultItemActionUtility/createRemoveFromFavoritesAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createRemoveFromFavoritesAction.ts
  src/common/Core/SearchResultItemActionUtility/createShowItemInFileExplorerAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createShowItemInFileExplorerAction.ts
Owners: @oliverschwendener

refactor: simplified imports
  src/common/Core/Search/InternalSearchFilter.ts
  src/common/Core/Search/SearchFilter.ts
  src/common/Core/Search/SearchResultItemFilter.ts
  src/common/Core/Search/fuzzySortFilter.test.ts
Owners: @oliverschwendener

refactor: improved jsdoc comments
  src/main/Core/CommandlineUtility/Contract/CommandlineUtility.ts
  src/main/Core/PowershellUtility/Contract/PowershellUtility.ts
  src/main/Core/XmlParser/Contract/XmlParser.ts
Owners: @oliverschwendener, @scomans

refactor: removed unnecessary "continue" keyword
  src/main/Extensions/ApplicationSearch/Linux/LinuxApplicationRepository.ts
Owners: @ke1v

refactor: removed unused method
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

refactor: make private property read-only
  src/main/Extensions/CurrencyConversion/CurrencyConversion.ts
Owners: @oliverschwendener

refactor: added missing async/await
  src/main/Core/Dock/DockModule.ts
Owners: @oliverschwendener

refactor: added comment
  src/main/Extensions/CurrencyConversion/CurrencyConversion.ts
Owners: @oliverschwendener

chore: replace `nativeTheme.addListener` with `nativeTheme.on` (#1262)
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
  src/main/Core/NativeTheme/NativeThemeModule.ts
Owners: @oliverschwendener

refactor: simplified imports (#1263)
  src/common/Core/Search/InternalSearchFilter.ts
  src/common/Core/Search/SearchFilter.ts
  src/common/Core/Search/SearchResultItemFilter.ts
  src/common/Core/Search/fuzzySortFilter.test.ts
  src/common/Core/SearchResultItemActionUtility/createAddToFavoritesAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createAddToFavoritesAction.ts
  src/common/Core/SearchResultItemActionUtility/createCopyToClipboardAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createCopyToClipboardAction.ts
  src/common/Core/SearchResultItemActionUtility/createExcludeFromSearchResultsAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createExcludeFromSearchResultsAction.ts
  src/common/Core/SearchResultItemActionUtility/createInvokeExtensionAction.ts
  src/common/Core/SearchResultItemActionUtility/createOpenFileAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createOpenFileAction.ts
  src/common/Core/SearchResultItemActionUtility/createOpenUrlSearchResultAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createOpenUrlSearchResultAction.ts
  src/common/Core/SearchResultItemActionUtility/createRemoveFromFavoritesAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createRemoveFromFavoritesAction.ts
  src/common/Core/SearchResultItemActionUtility/createShowItemInFileExplorerAction.test.ts
  src/common/Core/SearchResultItemActionUtility/createShowItemInFileExplorerAction.ts
Owners: @oliverschwendener

refactor: initialize property (#1267)
  src/main/Extensions/CurrencyConversion/CurrencyConversion.ts
Owners: @oliverschwendener

refactor: removed unused method (#1266)
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

refactor: improved jsdoc comments (#1264)
  src/main/Core/CommandlineUtility/Contract/CommandlineUtility.ts
  src/main/Core/PowershellUtility/Contract/PowershellUtility.ts
  src/main/Core/XmlParser/Contract/XmlParser.ts
Owners: @oliverschwendener, @scomans

implement edit for custom web search
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchDialog.tsx
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchSettings.tsx
Owners: @NiewView

fix ui and translations
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchDialog.tsx
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchSettings.tsx
Owners: @NiewView

Add Empty Trash extension
  assets/Extensions/EmptyTrash/trash.png
  docs/Extensions/EmptyTrash/README.md
  docs/Extensions/EmptyTrash/example.png
  src/main/Extensions/EmptyTrash/EmptyTrash.ts
  src/main/Extensions/EmptyTrash/EmptyTrashActionHandler.ts
  src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
  src/main/Extensions/EmptyTrash/EmptyTrashModule.ts
  src/main/Extensions/EmptyTrash/index.ts
  src/main/Extensions/ExtensionLoader.ts
Owners: @oliverschwendener

Added missing event propagination prevention
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchDialog.tsx
Owners: @NiewView

Fixed typos
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
Owners: @NiewView

implement edit for custom web search (#1268)
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchDialog.tsx
  src/renderer/Extensions/CustomWebSearch/CustomWebSearchSettings.tsx
Owners: @NiewView

refactor: remove redundant namespace variable
  src/renderer/Core/Settings/Pages/Appearance/SearchBarSettings.tsx
  src/renderer/Core/Settings/Pages/Debug/ResetSettings.tsx
  src/renderer/Core/Settings/Pages/Extensions.tsx
  src/renderer/Core/Settings/Pages/Favorites.tsx
  src/renderer/Core/Settings/Pages/General/HotKey.tsx
  src/renderer/Core/Settings/Pages/KeyboardAndMouse.tsx
  src/renderer/Core/Settings/Pages/SearchEngine/ExcludedItems.tsx
  src/renderer/Core/Settings/Pages/SearchEngine/Fuzziness.tsx
  src/renderer/Core/Settings/Pages/SearchEngine/MaxResultLength.tsx
  src/renderer/Core/Settings/Pages/SearchEngine/RescanInterval.tsx
  src/renderer/Core/Settings/Pages/SearchEngine/SearchEngineId.tsx
  src/renderer/Core/Settings/Pages/Window/HideWindowOn.tsx
  src/renderer/Extensions/Base64Conversion/Base64Conversion.tsx
  src/renderer/Extensions/DeeplTranslator/DeeplTranslator.tsx
  src/renderer/Extensions/FileSearch/FileSearchSettings.tsx
  src/renderer/Extensions/FileSearch/MissingEverythingCliFilePath.tsx
  src/renderer/Extensions/Workflow/ActionCard.tsx
  src/renderer/Extensions/Workflow/WorkflowForm.tsx
Owners: @oliverschwendener, @ChristopherSteiner

Updates according to review
  src/main/Extensions/EmptyTrash/EmptyTrash.ts
  src/main/Extensions/EmptyTrash/EmptyTrashActionHandler.ts
  src/main/Extensions/EmptyTrash/EmptyTrashModule.ts
Owners: @oliverschwendener

Update src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
  src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
Owners: @oliverschwendener

Update src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
  src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
Owners: @oliverschwendener

feat: added `DeleteDismissRegular` fluent icon
  src/common/Core/FluentIcon.ts
  src/renderer/Core/Search/FluentIcon.tsx
Owners: @oliverschwendener

feat: added `DeleteDismissRegular` fluent icon (#1274)
  src/common/Core/FluentIcon.ts
  src/renderer/Core/Search/FluentIcon.tsx
Owners: @oliverschwendener

Update src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
  src/main/Extensions/EmptyTrash/EmptyTrashExtension.ts
Owners: @oliverschwendener

refactor: removed unnecessary "continue" keyword (#1265)
  src/main/Extensions/ApplicationSearch/Linux/LinuxApplicationRepository.ts
Owners: @ke1v

feat(SystemCommands): add option to empty trash
  src/main/Extensions/SystemCommands/Linux/LinuxSystemCommand.ts
  src/main/Extensions/SystemCommands/Linux/LinuxSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/Linux/index.ts
  src/main/Extensions/SystemCommands/Linux/linuxTranslations.ts
  src/main/Extensions/SystemCommands/SystemCommand.ts
  src/main/Extensions/SystemCommands/SystemCommandActionHandler.test.ts
  src/main/Extensions/SystemCommands/SystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/SystemCommandRepository.ts
  src/main/Extensions/SystemCommands/SystemCommands.ts
  src/main/Extensions/SystemCommands/SystemCommandsModule.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommand.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/Windows/windowsTranslations.ts
  src/main/Extensions/SystemCommands/macOS/MacOsSystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/macOS/MacOsSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/macOS/index.ts
  src/main/Extensions/SystemCommands/macOS/macOsTranslations.ts
Owners: @oliverschwendener
