Repository oliverschwendener/ueli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @oliverschwendener, @ke1v, @scomans, @ChristopherSteiner, @NiewView, @IrishBruse, @tkohlmeier

feat: add option to trigger rescan via ueli command
  src/common/Core/FluentIcon.ts
  src/main/Core/RescanOrchestrator/RescanOrchestratorModule.ts
  src/main/Core/UeliCommand/Contract/UeliCommand.ts
  src/main/Core/UeliCommand/UeliCommandInvoker.ts
  src/main/Extensions/UeliCommand/UeliCommandActionHandler.ts
  src/main/Extensions/UeliCommand/UeliCommandExtension.ts
  src/renderer/Core/Search/FluentIcon.tsx
Owners: @oliverschwendener

9.11.0
  package-lock.json
  package.json
Owners: @oliverschwendener

Added Linux support for System Command extension
  src/main/Extensions/SystemCommands/SystemCommands.ts
Owners: @oliverschwendener

Added icons for linux
  assets/Extensions/SystemCommands/linux.png
  assets/Extensions/SystemCommands/trash.png
  src/main/Extensions/SystemCommands/Linux/LinuxSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/SystemCommands.ts
Owners: @oliverschwendener

feat(SystemCommands): add option to empty trash (#1275)
  assets/Extensions/SystemCommands/linux.png
  assets/Extensions/SystemCommands/trash.png
  src/main/Extensions/SystemCommands/Linux/LinuxSystemCommand.ts
  src/main/Extensions/SystemCommands/Linux/LinuxSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/Linux/index.ts
  src/main/Extensions/SystemCommands/Linux/linuxTranslations.ts
  src/main/Extensions/SystemCommands/SystemCommand.ts
  src/main/Extensions/SystemCommands/SystemCommandActionHandler.test.ts
  src/main/Extensions/SystemCommands/SystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/SystemCommandRepository.ts
  src/main/Extensions/SystemCommands/SystemCommands.ts
  src/main/Extensions/SystemCommands/SystemCommandsModule.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommand.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/Windows/WindowsSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/Windows/windowsTranslations.ts
  src/main/Extensions/SystemCommands/macOS/MacOsSystemCommandActionHandler.ts
  src/main/Extensions/SystemCommands/macOS/MacOsSystemCommandRepository.ts
  src/main/Extensions/SystemCommands/macOS/index.ts
  src/main/Extensions/SystemCommands/macOS/macOsTranslations.ts
Owners: @oliverschwendener

feat: add option to trigger rescan via ueli command (#1276)
  src/common/Core/FluentIcon.ts
  src/main/Core/RescanOrchestrator/RescanOrchestratorModule.ts
  src/main/Core/UeliCommand/Contract/UeliCommand.ts
  src/main/Core/UeliCommand/UeliCommandInvoker.ts
  src/main/Extensions/UeliCommand/UeliCommandActionHandler.ts
  src/main/Extensions/UeliCommand/UeliCommandExtension.ts
  src/renderer/Core/Search/FluentIcon.tsx
Owners: @oliverschwendener

feat: remove buggy multi-monitor window repositioning (#1248)
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
  src/main/Core/BrowserWindow/BrowserWindowToggler.test.ts
  src/main/Core/BrowserWindow/BrowserWindowToggler.ts
  src/main/Core/BrowserWindow/WindowBoundsMemory.test.ts
  src/main/Core/BrowserWindow/WindowBoundsMemory.ts
  src/renderer/Core/I18n/getCoreResources.ts
  src/renderer/Core/Settings/Pages/Window/AlwaysCenter.tsx
  src/renderer/Core/Settings/Pages/Window/Window.tsx
Owners: @oliverschwendener

9.11.1
  package-lock.json
  package.json
Owners: @oliverschwendener

feat: settings window
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
  src/renderer/main.html
  src/renderer/main.tsx
  src/renderer/settings.html
  src/renderer/settings.tsx
  vite.config.mts
Owners: @oliverschwendener

Import type only
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
Owners: @oliverschwendener

Added UUID Extension
  assets/Extensions/UuidGenerator/uuid-generator.png
  docs/Extensions/UuidGenerator/README.md
  docs/Extensions/UuidGenerator/example-generator.png
  docs/Extensions/UuidGenerator/example.png
  package-lock.json
  package.json
  src/common/Extensions/UuidGenerator/UuidGeneratorSetting.ts
  src/common/Extensions/UuidGenerator/UuidVersion.ts
  src/common/Extensions/UuidGenerator/index.ts
  src/main/Extensions/ExtensionLoader.ts
  src/main/Extensions/UuidGenerator/UuidGenerator.test.ts
  src/main/Extensions/UuidGenerator/UuidGenerator.ts
  src/main/Extensions/UuidGenerator/UuidGeneratorExtension.ts
  src/main/Extensions/UuidGenerator/UuidGeneratorModule.ts
  src/main/Extensions/UuidGenerator/index.ts
  src/renderer/Extensions/UuidGenerator/Generator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGenerator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGeneratorSettings.tsx
  src/renderer/Extensions/UuidGenerator/index.ts
  src/renderer/Extensions/index.tsx
Owners: @oliverschwendener

Fix update on number of uuids change
  src/renderer/Extensions/UuidGenerator/Generator.tsx
Owners: @oliverschwendener

refactor: move resolving of search result items to `getSearchResultItems`
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxExtension.ts
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxModule.ts
Owners: @scomans

Added labels and updated checkbox order to match settings
  docs/Extensions/UuidGenerator/example-generator.png
  src/renderer/Extensions/UuidGenerator/Generator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGenerator.tsx
Owners: @oliverschwendener

refactor: move resolving of search result items to `getSearchResultItems` (#1280)
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxExtension.ts
  src/main/Extensions/JetBrainsToolbox/JetBrainsToolboxModule.ts
Owners: @scomans

Prettier and switch to Input instead of SpinBox
  src/main/Extensions/UuidGenerator/UuidGeneratorExtension.ts
  src/renderer/Extensions/UuidGenerator/Generator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGeneratorSettings.tsx
Owners: @oliverschwendener

refactor(InstantSearchResults): added the option to define instant search results before and after the ordinary search results
  src/common/Core/ContextBridge.ts
  src/common/Core/InstantSearchResultItems.ts
  src/common/Core/index.ts
  src/main/Core/Extension/Contract/Extension.ts
  src/main/Core/ExtensionManager/ExtensionManager.test.ts
  src/main/Core/ExtensionManager/ExtensionManager.ts
  src/main/Extensions/Calculator/CalculatorExtension.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.test.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.ts
  src/main/Extensions/CurrencyConversion/CurrencyConversion.test.ts
  src/main/Extensions/CurrencyConversion/CurrencyConversion.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.test.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/main/Extensions/TerminalLauncher/TerminalLauncherExtension.ts
  src/main/Extensions/VSCode/VSCodeExtension.ts
  src/main/Extensions/WebSearch/WebSearchExtension.test.ts
  src/main/Extensions/WebSearch/WebSearchExtension.ts
  src/renderer/Core/Search/Helpers/getSearchResult.test.ts
  src/renderer/Core/Search/Helpers/getSearchResult.ts
Owners: @oliverschwendener, @NiewView, @IrishBruse

Rearranged labels
  docs/Extensions/UuidGenerator/example-generator.png
  docs/Extensions/UuidGenerator/example.png
  src/renderer/Extensions/UuidGenerator/Generator.tsx
Owners: @oliverschwendener

Fix bug when filename and folder are the same
  src/main/Extensions/VSCode/VSCodeExtension.ts
Owners: @IrishBruse

prettier
  src/main/Extensions/VSCode/VSCodeExtension.ts
Owners: @IrishBruse

Added warning for wayland in settings
  src/common/Core/ContextBridge.ts
  src/main/Core/ExtensionManager/ExtensionManagerModule.ts
  src/preload/index.ts
  src/renderer/Core/Settings/Pages/General/HotKey.tsx
Owners: @oliverschwendener

Fix bug when filename and folder are the same (#1283)
  src/main/Extensions/VSCode/VSCodeExtension.ts
Owners: @IrishBruse

refactor(InstantSearchResults): added the option to order instant search results (#1282)
  src/common/Core/ContextBridge.ts
  src/common/Core/InstantSearchResultItems.ts
  src/common/Core/index.ts
  src/main/Core/Extension/Contract/Extension.ts
  src/main/Core/ExtensionManager/ExtensionManager.test.ts
  src/main/Core/ExtensionManager/ExtensionManager.ts
  src/main/Extensions/Calculator/CalculatorExtension.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.test.ts
  src/main/Extensions/ColorConverter/ColorConverterExtension.ts
  src/main/Extensions/CurrencyConversion/CurrencyConversion.test.ts
  src/main/Extensions/CurrencyConversion/CurrencyConversion.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.test.ts
  src/main/Extensions/CustomWebSearch/CustomWebSearchExtension.ts
  src/main/Extensions/TerminalLauncher/TerminalLauncherExtension.ts
  src/main/Extensions/VSCode/VSCodeExtension.ts
  src/main/Extensions/WebSearch/WebSearchExtension.test.ts
  src/main/Extensions/WebSearch/WebSearchExtension.ts
  src/renderer/Core/Search/Helpers/getSearchResult.test.ts
  src/renderer/Core/Search/Helpers/getSearchResult.ts
Owners: @oliverschwendener, @NiewView, @IrishBruse

Moved warning to translation
  src/renderer/Core/I18n/getCoreResources.ts
  src/renderer/Core/Settings/Pages/General/HotKey.tsx
Owners: @oliverschwendener

Updated documentation link
  src/renderer/Core/Settings/Pages/General/HotKey.tsx
Owners: @oliverschwendener

Moved getEnvironmentVariable event to correct module
  src/main/Core/EnvironmentVariableProvider/EnvironmentVariableProviderModule.ts
  src/main/Core/ExtensionManager/ExtensionManagerModule.ts
Owners: @oliverschwendener

Removed toggle setting
  src/main/Core/BrowserWindow/BrowserWindowModule.ts
  src/renderer/Core/I18n/getCoreResources.ts
  src/renderer/Core/Settings/Pages/Window/ToggleOnSecondInstance.tsx
  src/renderer/Core/Settings/Pages/Window/Window.tsx
Owners: @oliverschwendener

Restored main
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.test.ts
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.ts
  src/main/Core/SingleInstanceLock/index.ts
  src/main/Core/index.ts
  src/main/index.ts
Owners: @oliverschwendener

Restored electron builder
  electron-builder.config.js
Owners: @oliverschwendener

Import modules dynamically
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.test.ts
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.ts
  src/main/Core/SingleInstanceLock/index.ts
  src/main/Core/index.ts
  src/main/index.ts
Owners: @oliverschwendener

Prettier fix
  src/main/index.ts
Owners: @oliverschwendener

feat: place instant search result item before regular results
  src/main/Extensions/UuidGenerator/UuidGeneratorExtension.ts
Owners: @oliverschwendener

feat(UUIDExtension): Added UUID Extension (#1279)
  assets/Extensions/UuidGenerator/uuid-generator.png
  docs/Extensions/UuidGenerator/README.md
  docs/Extensions/UuidGenerator/example-generator.png
  docs/Extensions/UuidGenerator/example.png
  package-lock.json
  package.json
  src/common/Extensions/UuidGenerator/UuidGeneratorSetting.ts
  src/common/Extensions/UuidGenerator/UuidVersion.ts
  src/common/Extensions/UuidGenerator/index.ts
  src/main/Extensions/ExtensionLoader.ts
  src/main/Extensions/UuidGenerator/UuidGenerator.test.ts
  src/main/Extensions/UuidGenerator/UuidGenerator.ts
  src/main/Extensions/UuidGenerator/UuidGeneratorExtension.ts
  src/main/Extensions/UuidGenerator/UuidGeneratorModule.ts
  src/main/Extensions/UuidGenerator/index.ts
  src/renderer/Extensions/UuidGenerator/Generator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGenerator.tsx
  src/renderer/Extensions/UuidGenerator/UuidGeneratorSettings.tsx
  src/renderer/Extensions/UuidGenerator/index.ts
  src/renderer/Extensions/index.tsx
Owners: @oliverschwendener

refactor: import only needed electron modules
  electron-builder.config.js
  src/main/index.ts
Owners: @oliverschwendener

refactor: extract function into separate file
  src/common/Core/InstantSearchResultItems.ts
  src/common/Core/createEmptyInstantSearchResult.ts
  src/common/Core/index.ts
Owners: @oliverschwendener

refactor: extract function into separate file (#1285)
  src/common/Core/InstantSearchResultItems.ts
  src/common/Core/createEmptyInstantSearchResult.ts
  src/common/Core/index.ts
Owners: @oliverschwendener

Changed comment
  src/main/index.ts
Owners: @oliverschwendener

perf: improve launch performance (#1284)
  electron-builder.config.js
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.test.ts
  src/main/Core/SingleInstanceLock/SingleInstanceLockModule.ts
  src/main/Core/SingleInstanceLock/index.ts
  src/main/Core/index.ts
  src/main/index.ts
Owners: @oliverschwendener

feat: add option to define custom browser
  src/main/Core/Shell/ActionHandler/UrlActionHandler.ts
  src/main/Core/Shell/ShellModule.ts
  src/main/index.ts
  src/renderer/Core/Settings/Pages/General/CustomWebBrowserExecutable.tsx
  src/renderer/Core/Settings/Pages/General/General.tsx
  src/renderer/Core/Settings/Pages/General/UseDefaultBrowser.tsx
Owners: @oliverschwendener

fix: use better translations for "blur" event
  src/renderer/Core/I18n/getCoreResources.ts
Owners: @oliverschwendener

.github/CODEOWNERS:

# General stuff
.eslintignore @oliverschwendener
.eslintrc.json @oliverschwendener
.gitattributes @oliverschwendener
.github @oliverschwendener
.gitignore @oliverschwendener
.npmrc @oliverschwendener
.prettierrc @oliverschwendener
.vscode @oliverschwendener
assets @oliverschwendener
docs @oliverschwendener
electron-builder.config.js @oliverschwendener
LICENSE @oliverschwendener
package-lock.json @oliverschwendener
package.json @oliverschwendener
README.md @oliverschwendener
src @oliverschwendener
tsconfig.node.json @oliverschwendener
tsconfig.renderer.json @oliverschwendener
vite.config.mts @oliverschwendener

# Core Modules

src/main/Core/IniFileParser @ke1v
src/main/Core/LinuxDesktopEnvironment @ke1v
src/main/Core/XmlParser @scomans

# Extensions

# ApplicationSearch
src/main/Extensions/ApplicationSearch/Linux @ke1v
src/renderer/Extensions/ApplicationSearch/Linux @ke1v

# Base64Conversion
assets/Extensions/Base64Conversion @ChristopherSteiner
docs/Extensions/Base64Conversion @ChristopherSteiner
src/common/Extensions/Base64Conversion @ChristopherSteiner
src/main/Extensions/Base64Conversion @ChristopherSteiner
src/renderer/Extensions/Base64Conversion @ChristopherSteiner

# CustomWebSearch
assets/Extensions/CustomWebSearch @NiewView
docs/Extensions/CustomWebSearch @NiewView
src/common/Extensions/CustomWebSearch @NiewView
src/main/Extensions/CustomWebSearch @NiewView
src/renderer/Extensions/CustomWebSearch @NiewView

# JetBrainsToolbox
assets/Extensions/JetBrainsToolbox @scomans
docs/Extensions/JetBrainsToolbox @scomans
src/common/Extensions/JetBrainsToolbox @scomans
src/main/Extensions/JetBrainsToolbox @scomans
src/renderer/Extensions/JetBrainsToolbox @scomans

# VSCode
assets/Extensions/VSCode @IrishBruse
docs/Extensions/VSCode @IrishBruse
src/common/Extensions/VSCode @IrishBruse
src/main/Extensions/VSCode @IrishBruse
src/renderer/Extensions/VSCode @IrishBruse

# WindowsControlPanel
assets/Extensions/WindowsControlPanel @tkohlmeier
docs/Extensions/WindowsControlPanel @tkohlmeier
src/common/Extensions/WindowsControlPanel @tkohlmeier
src/main/Extensions/WindowsControlPanel @tkohlmeier
src/renderer/Extensions/WindowsControlPanel @tkohlmeier
